<p>List of Product at Amzn today</p>

<ul *ngFor="let prod of products">
    <li>{{prod.name}},{{prod.price}}</li>
</ul>






<table border="1">
    <thead>
        <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Picture</th>
        <th>Cart</th>
        <th>Bid</th>
        <th>Your Comments</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of products">
        <td [style.color]="prod.inStock ? 'red' : 'grey'" >{{prod.name}}</td>
        <td [style.color]="prod.price <10000 ? 'grey' : 'orange'" >{{prod.price + 1 }}</td>
        <td><img src="{{prod.imagePath}}" width="100" height="50"></td>
        <td><button (click)="name1(prod)" [disabled]="!prod.inStock"> Add TO Cart </button> </td>
        <td><button (click)="name2(prod)" > Bid for the Product </button> </td>

        
    </tr>
</tbody>
</table>


